[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
wordcloud = "*"
nltk = "*"
neatest = "*"
yellowbrick = "*"
matplotlib = "*"
textblob = "*"
streamlit = "*"
neattext = "*"

[dev-packages]

[requires]
python_version = "3.9"
